<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pronosticos</h1>
    <select id="roundSelect" name="select" onchange="filterMatches()">
        <% for(let i = 1; i <= matches.length/14; i++) { %>
          <option value="<%= `1st Phase - ${i}` %>">Fecha <%= i %></option>
        <% } %>
    </select>

    <div class="fixtures">
        <% for (let i = 0; i < matches.length; i++) { %>
            <% if (matches[i].league.round.includes('1st Phase')) { %>
                <p class="match-result" data-round="<%= matches[i].league.round %>">
                    <% const matchDate = new Date(matches[i].fixture.date); %>
                    <% const md = matchDate.toLocaleString('es-ES', { day: '2-digit', month: '2-digit', hour: '2-digit', minute: '2-digit' }) %>
                    <%= md.replace(",", "")  %>
                    <strong>Round: <%= matches[i].league.round %></strong>
                    <img src="<%= matches[i].teams.home.logo %>" alt=""> <%= matches[i].teams.home.name %> <%= matches[i].goals.home %> - <%= matches[i].goals.away %> <%= matches[i].teams.away.name %> <img src="<%= matches[i].teams.away.logo %>" alt="">
                </p>
            <% } %>
        <% } %>
    </div>        

<!-- BUENO -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const roundSelect = document.getElementById('roundSelect');
            let selectedRound = roundSelect.value;
            filterMatches(selectedRound);
    
            roundSelect.addEventListener('change', function() {
                selectedRound = roundSelect.value;
                filterMatches(selectedRound);
            });
        });
    
        function filterMatches(selectedRound) {
            const matchResults = document.querySelectorAll('.match-result');
    
            for (let i = 0; i < matchResults.length; i++) {
                const matchRound = matchResults[i].getAttribute('data-round');
                if (matchRound === selectedRound) {
                    matchResults[i].style.display = 'block';
                } else {
                    matchResults[i].style.display = 'none';
                }
            }
        }

        function formatDate(date) {
            var day = String(date.getDate()).padStart(2, '0');
            var month = String(date.getMonth() + 1).padStart(2, '0');
            var hours = String(date.getHours()).padStart(2, '0');
            var minutes = String(date.getMinutes()).padStart(2, '0');
            return day + '/' + month + ' ' + hours + ':' + minutes;
        }

    </script>
    

    <!-- <script>
        function filterMatches() {
            const roundSelect = document.getElementById('roundSelect');
            const selectedRound = roundSelect.value;
            const matchResults = document.getElementsByClassName('match-result');

            for (let i = 0; i < matchResults.length; i++) {
                const matchRound = matchResults[i].getAttribute('data-round');
                if (matchRound === selectedRound) {
                    matchResults[i].style.display = 'block';
                } else {
                    matchResults[i].style.display = 'none';
                }
            }
        }
    </script> -->

</body>
</html>
