<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/forecasts.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <!-- FONT AWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <title>Pronósticos</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/navigation.ejs') %>
    <div class="container">
        <h1>Pronósticos</h1>
        <form id="form" action="/add" method="POST">
            <select id="roundSelect" name="round" onchange="filterMatches()">
                <% for(let i = 1; i <= matches.length/14; i++) { %>
                <option value="<%= `1st Phase - ${i}` %>">Fecha <%= i %></option>
                <% } %>
            </select>    
            <div class="fixture">
                <table>
                    <thead>
                        <tr>
                            <th class="date">Fecha</th>
                            <th class="teams">Local</th>
                            <th>PL</th>
                            <th class="vs">-</th>
                            <th>PV</th>
                            <th class="teams">Visitante</th>
                            <th>Res.</th>
                            <th>Pts.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < matches.length; i++) { %>
                            <% if (matches[i].league.round.includes('1st Phase')) { %>
                                <tr class="match-result" data-round="<%= matches[i].league.round %>">
                                    <td class="date">
                                      <% const matchDate = new Date(matches[i].fixture.date); %>
                                      <% const md = matchDate.toLocaleString('es-ES', { day: '2-digit', month: '2-digit', hour: '2-digit', minute: '2-digit' }) %>
                                      <%= md.replace(",", "")  %>
                                    </td>
                                    <td class="teams"><div class="teams__logo"><img style="width: 25px;" src="<%= matches[i].teams.home.logo %>" alt=""><span><%= matches[i].teams.home.name %></span></div></td>
                                    <td>
                                        <div class="input__cont">
                                            <input type="text" maxlength="2" oninput="validarNumeros(event)" id="localF-<%= matches[i].fixture.id %>" class="forecasts <%= matches[i].fixture.id %>" name="forecasts[<%= matches[i].fixture.id %>][local]" value="">
                                        </div>
                                        </div>
                                    </td>
                                    <td class="vs">-</td>
                                    <td>
                                        <div class="input__cont">
                                            <input type="text" maxlength="2" oninput="validarNumeros(event)" id="awayF-<%= matches[i].fixture.id %>" class="forecasts <%= matches[i].fixture.id %>" name="forecasts[<%= matches[i].fixture.id %>][away]" value="">                
                                        </div>
                                    </td>
                                    <td class="teams"><div class="teams__logo"><span><%= matches[i].teams.away.name %></span><img style="width: 25px;" src="<%= matches[i].teams.away.logo %>" alt=""></div></td>
                                    <td><span id="localR-<%= i+1 %>"><%= matches[i].goals.home %></span> - <span id="awayR-<%= i+1 %>"><%= matches[i].goals.away %></span></td>
                                    <td></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>  
            <button type="submit" id="send">Enviar</button>
        </form>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>

    <script src="/scripts/forecasts.js"></script>  
    

</body>
</html>
