<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/groups.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <!-- FONT AWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/images/ball_icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <title>BIG PRODE</title>
</head>
<body>
    <!-- HEADER-->
    <%- include('./partials/navigation.ejs') %>
    <div class="main">
        <div class="groups">                
            <a class="groups__card groups__card--create" href="/new_group">
                <img src="/images/new_group.png" alt="">
                <span>Crear grupo</span>
            </a>
   
            <% for (let j = 0; j < groups_user2.length; j++) { %>            
                <div class="groups__card">
                    <a class="group__name" href="#" data-groupid="<%= groups_user2[j].id_group %>"><%= groups_user2[j].group_name %></a>
                    <span>Miembros: 
                        <% for (let x = 0; x < totalMembers2.length; x++) { %>
                            <% if (totalMembers2[x].id === groups_user2[j].id_group) { %>
                                <%= totalMembers2[x].total_integrantes %>
                            <% } %>
                        <% } %>
                    </span>
                    <a class="btn__exit" href="/leave_group/<%= groups_user2[j].id_group %>">Salir del grupo</a>
                </div>
            <% } %>
            
        </div>
        <div class="groups__info" >
            
            <div class="group__link">
                <p class="link">  </p>
            </div>
            <p class="group__link--advert"><strong>Recuerda:</strong>  Para que un usuario pueda unirse al grupo, debe tener su sesión iniciada.</p>
          
            <table class="group__members">
                <thead>
                    <tr>
                        <th class="numbers">Posición</th>
                        <th>Usuario</th>
                        <th class="numbers">Puntos</th>
                    </tr>
                </thead>
                <tbody>

                    <% for (let i = 0; i < groups_user2.length; i++) { %>
                        <% const group = groups_user2[i]; %>
                       
                        <% const matchingMembers = groups_members2.filter(member => member.id_group === group.id_group); %>
                        
                        <% for (let j = 0; j < matchingMembers.length; j++) { %>
                            <% const member = matchingMembers[j]; %>
                            <tr class="group-member-row" data-groupid="<%= group.id_group %>">
                                <td class="numbers"><%= j + 1 %></td>
                                <td><%= member.fullname %></td>
                                <td class="numbers"><%= member.total_points %></td>
                            </tr>
                        <% } %>
                    <% } %>
                      
                </tbody>
            </table>
        </div>
    </div>
    <!-- FOOTER-->
    <%- include('./partials/footer.ejs') %>

    <script src="/scripts/groups.js"></script>

</body>
</html>