<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/groups.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <!-- FONT AWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <title>BIG PRODE</title>
</head>
<body>
    <!-- HEADER-->
    <%- include('./partials/navigation.ejs') %>
    <div class="main">
        <div class="groups">
            <div class="groups__card">
                <a class="group__name" href="#"><%= groups[0].group_name %></a>
                <span>Miembros: <%= totalMembers[0].memberCount %></span>
                <a class="btn__exit" href="#">Salir del grupo</a>
            </div>
        </div>
        <div class="groups__info">
            <div class="group__link">
                <p class="link">join link</p>
            </div>
            <table class="group__members">
                <thead>
                    <tr>
                        <th class="numbers">Posición</th>
                        <th>Usuario</th>
                        <th class="numbers">Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < users_groups.length; i++) { %>
                        <% const membership = users_groups[i]; %>
                        <% const user = users.find((user) => user.id === users_groups.id_user); %>
                        <tr>
                          <td class="numbers"> <%= i + 1 %> </td>
                          <td> <%= groups_members[i].fullname %> </td> 
                          <td class="numbers"> <%= groups_members[i].total_points %> </td> 
                        </tr>
                      <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- FOOTER-->
    <%- include('./partials/footer.ejs') %>
</body>
</html>